@model IEnumerable<PICECAR.Models.PersonalInfo>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Profile</h3>
    </div>

    <div class="panel-body">
        <br />

    </div>
</div>